<html>
  <head>
    <title>RSAB: Listen Again</title>
    <link type="text/css" href="css/flick/jquery-ui-1.8.9.custom.css" rel="stylesheet" />
    <link type="text/css" href="/skin/jplayer.blue.monday.css" rel="stylesheet" />
    <link type="text/css" href="/css/listenagain.css" rel="stylesheet" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.9.custom.min.js"></script>
    <script type="text/javascript" src="/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/js/dataTables.fnGetDisplayNodes.js"></script>
    <script type="text/javascript" src="/js/nowplaying.js"></script>

    <script type="text/javascript">

      // https://developer.mozilla.org/en/JavaScript/Reference/Global_Objects/Array/indexOf
      if (!Array.prototype.indexOf)
      {
        Array.prototype.indexOf = function(searchElement /*, fromIndex */)
        {
          "use strict";

          if (this === void 0 || this === null)
            throw new TypeError();

          var t = Object(this);
          var len = t.length >>> 0;
          if (len === 0)
            return -1;

          var n = 0;
          if (arguments.length > 0)
          {
            n = Number(arguments[1]);
            if (n !== n) // shortcut for verifying if it's NaN
              n = 0;
            else if (n !== 0 && n !== (1 / 0) && n !== -(1 / 0))
              n = (n > 0 || -1) * Math.floor(Math.abs(n));
          }

          if (n >= len)
            return -1;

          var k = n >= 0
                ? n
                : Math.max(len - Math.abs(n), 0);

          for (; k < len; k++)
          {
            if (k in t && t[k] === searchElement)
              return k;
          }
          return -1;
        };
      }

      $(document).ready(function(){

        BOOL_TRUE = ['t', 'true', 'y', 'yes', 'on', '1', 1, true]
        function rsab_is_parameter_true(parameter) {
            // Optional second arg: result if parameter is empty
            if(parameter == '' && arguments.length > 1) {
                return arguments[1]
            }
            return BOOL_TRUE.indexOf(parameter) != -1
        }

        RSAB = {}
        RSAB.ready_flags = {
            jplayer: false,
            table: false,
            params: false,
            live: false
        }
        RSAB.go_called = false
        RSAB.options = {
            autoplay: false
        }
        RSAB.current_media_is_stream = false
        RSAB.current_media = null
        RSAB._stream_reload_interval_id = null

        RSAB.fn = {}
        RSAB.fn.go_if_ready = function (flag) {
            if(typeof flag != 'undefined') {
                RSAB.ready_flags[flag] = true
            }
            for(key in RSAB.ready_flags) {
                if(!RSAB.ready_flags[key]) {
                    return
                }
            }
            if(!RSAB.go_called) {
                RSAB.go_called = true
                RSAB.fn.go()
            }
        }

        $('#rsab-about-dialog').dialog({ autoOpen: false })
        $('#rsab-about').click(function () {
            $('#rsab-about-dialog').dialog('open')
        })

        $('#rsab-not-live-warning-dialog').dialog({ autoOpen: false })
        $('#rsab-not-live-warning').hide().click(function () {
            $('#rsab-not-live-warning-dialog').dialog('open')
        })

        $('#rsab-problems-dialog').dialog({ autoOpen: false })
        $('#rsab-problems').click(function () {
            $('#rsab-problems-dialog').dialog('open')
        })

        RSAB.fn.control_stream_reloader = function (start) {
            RSAB.fn._set_stream_reload_interval(0) // clear it
            RSAB._stream_reload_interval_id = null
            if(start) {
                RSAB.fn._set_stream_reload_interval() // default
            }
        }

        RSAB.fn._set_stream_reload_interval = function (interval) {
            if(typeof interval == 'undefined') {
                interval = 20*60*1000 // 20 minutes
            }
            if(RSAB._stream_reload_interval_id) {
                clearInterval(RSAB._stream_reload_interval_id)
            }
            if(interval > 0) {
                RSAB._stream_reload_interval_id = setInterval('RSAB.fn._stream_reload()', interval)
            }
        }

        RSAB.fn._stream_reload = function () {
            if(RSAB.current_media_is_stream && RSAB.current_media) {
                var ext = RSAB.current_media.split('.').pop()
                var media = {}
                media[ext] = RSAB.current_media
                var is_paused = $("#jquery_jplayer_rsab").data('jPlayer').status.paused
                $("#jquery_jplayer_rsab").jPlayer("setMedia", media).jPlayer(is_paused ? "pause" : "play")
            }
        }

        $("#jquery_jplayer_rsab").jPlayer({
          ready: function (event) {
              RSAB.using_flash = event.jPlayer.version.flash != 'unknown'
              RSAB.fn.go_if_ready('jplayer')
              RSAB.fn.control_stream_reloader(true)
          },
          ended: function (event) {
              $('#rsab-playlist tr.rsab-playlist-item-playing').removeClass('rsab-playlist-item-playing')
              RSAB.fn.control_stream_reloader(false)
          },

          volume: 0.5,
          cssSelectorAncestor: "#jp_interface_rsab",
          swfPath: "/js",
          // Many HTML5 browsers do not support streaming natively, so we must
          // try Flash first.
          solution: "flash, html",
          supplied: "mp3"
        });
        $.jPlayer.timeFormat.showHour = true

        if(typeof String.splitmax == 'undefined') {
            String.prototype.splitmax = function(sep, n) {
                n = Math.max(n, 0)
                if(n == 0) {
                    return [this.slice()]
                }
                all_parts = this.split(sep)
                n = Math.min(Math.max(n, 0), all_parts.length - 1)
                result = all_parts.slice(0, n)
                result.push(all_parts.slice(n).join(sep))
                return result
            }
        }

        RSAB.fn.play_row = function (row) {
            if(row == null || typeof row == 'undefined') {
                return
            }
            row = $(row).closest('tr.rsab-playlist-item')
            if(row.hasClass('rsab-playlist-item-unavailable')) {
                return
            }
            RSAB.current_media = row.find('input[name="src"]').val()
            var ext = RSAB.current_media.split('.').pop()
            var media = {}
            media[ext] = RSAB.current_media
            RSAB.current_media_is_stream = row.hasClass('rsab-playlist-item-live')
            $("#jquery_jplayer_rsab").jPlayer("setMedia", media).jPlayer("play")
            $("#jp_playlist_rsab").text($('.rsab-playlist-item-title', row).text())
            row.closest('table').find('.rsab-playlist-item-playing').not(row).removeClass('rsab-playlist-item-playing')
            row.addClass('rsab-playlist-item-playing')
            if(row.hasClass('rsab-playlist-item-live')) {
                $('#rsab-not-live-warning').hide('slow')
                $('#rsab-jp-player-ui .jp-duration').hide()
            }
            else {
                $('#rsab-not-live-warning').show('slow')
                $('#rsab-jp-player-ui .jp-duration').show()
            }
        }

        $("#rsab-playlist tr.rsab-playlist-item").bind('click.play', function () {
            RSAB.fn.play_row(this)
        })

        $('.rsab-player-domain-generic').each(function () {
            $(this).text(window.location.hostname)
              .removeClass('rsab-player-domain-generic')
              .addClass('rsab-player-domain')
        })

        // XXX This will have to be moved around if the table rows get pulled
        // in by AJAX.  And 'process_parameters' mustn't be called until this
        // has been run...
        rsab_all_recording_names = {}
        $('td.rsab-playlist-item-show').find('input[name=show], input[name=presenter]').each(function () {
            // We make this mapping to avoid adding items to the select which
            // exist only in the live stream ('presentername' and 'showname'
            // give us names for both the live stream and recordings).
            rsab_all_recording_names[$(this).val()] = 1 // any value
        })

        rsab_select_pairs = []
        rsab_select_pairs_seen = {}
        $('input[name=showname], input[name=presentername]').each(function () {
            temp = $(this).val().splitmax(':', 1)
            key = temp[0]
            value = temp.length > 1 ? temp[1] : key
            if(typeof rsab_select_pairs_seen[key] == 'undefined'
            && typeof rsab_all_recording_names[key] != 'undefined') {
                rsab_select_pairs.push([value, key])
                rsab_select_pairs_seen[key] = value
            }
        })
        rsab_select_pairs.sort()

        $.fn.dataTableExt.oSort['rsab-date-time-desc']  = function(x, y) {
            // Wrap the HTML in a div so we can use 'find' on it, without
            // needing to know if what we're looking for was already at the top
            // level of the HTML or was in a lower level.
            x = $('<div>'+x+'</div>')
            y = $('<div>'+y+'</div>')
            x_compare = x.find('input[name="date_compact"]').val() + x.find('input[name="start_compact"]').val()
            y_compare = y.find('input[name="date_compact"]').val() + y.find('input[name="start_compact"]').val()
            return ((x_compare < y_compare) ?  1 : ((x_compare > y_compare) ? -1 : 0));
        }

        $.fn.dataTableExt.oSort['rsab-date-time-asc']  = function(x, y) {
            return -1 * $.fn.dataTableExt.oSort['rsab-date-time-desc'](x, y)
        }

        $.fn.dataTableExt.ofnSearch['rsab-date-time']  = function(sData) {
            cell = $('<div>'+sData+'</div>')
            return cell.find('input[name=day_short]').val()
        }

        $.fn.dataTableExt.oSort['rsab-title-desc'] = $.fn.dataTableExt.oSort['string-desc']
        $.fn.dataTableExt.oSort['rsab-title-asc'] = $.fn.dataTableExt.oSort['string-asc']

        $.fn.dataTableExt.ofnSearch['rsab-title']  = function(sData) {
            cell = $('<div>'+sData+'</div>')
            names = []
            cell.find('input[name=show], input[name=presenter]').each(function () {
                names.push($(this).val())
            })
            return ',' + names.join(',') + ','
        }

        $('#rsab-playlist').dataTable({
            bPaginate: true,
            bLengthChange: false,
            bFilter: true, // we'll use a custom filter
            bSort: true,
            bInfo: true,
            bAutoWidth: true,
            bJQueryUI: true,
            sDom: '<"H"lr>t<"F"ip>',

            fnInitComplete: function () {
                RSAB.fn.go_if_ready('table')
            },

            aaSorting: [ [0, 'desc'] ],

            aoColumns: [
                { 'sType': 'rsab-date-time' },
                { 'sType': 'rsab-title' },
                null
            ]
        })

        RSAB.fn.no_live_stream = function () {
          $('#rsab-playlist tr.rsab-playlist-item-live')
            .addClass('rsab-playlist-item-unavailable')
            .unbind('click.play')
            .find('.rsab-playlist-item-title').text('Live stream unavailable')
        }

        $.ajax({
          accepts: 'audio/x-mpegurl',
          cache: false,
          url: '/listen.m3u',
          dataType: 'text',
          success: function (data, textStatus, jqXHR) {
              url_finder = new RegExp('^http(?:s?)://.+', 'im')
              live_url_array = url_finder.exec(data)
              if(live_url_array.length) {
                $('#rsab-playlist tr.rsab-playlist-item-live')
                  .find('.rsab-playlist-item-title').text('Live stream')
                  .end()
                  .find('input[name=src]').val(live_url_array[0])
              }
              else {
                RSAB.fn.no_live_stream()
              }
              RSAB.fn.go_if_ready('live')
          },
          error: function (jqXHR, textStatus, errorThrown) {
              RSAB.fn.no_live_stream()
              RSAB.fn.go_if_ready('live')
          }
        })


        rsab_table_column_names = ['date', 'title', 'duration']
        rsab_table_initial_sort = []

        RSAB.fn.go = function () {
            table = $('#rsab-playlist').dataTable()
            if(rsab_table_initial_sort.length) {
                table.fnSort(rsab_table_initial_sort)
            }
            if(RSAB.options.autoplay) {
                row = $('#rsab-playlist tr.rsab-playlist-item-playing').first()
                if(row.length == 0) {
                    row = null
                    visible_rows = table.fnGetDisplayNodes()
                    if(visible_rows.length != 0) {
                        // Autoplay logic: sort by most recent date first, then
                        // by earliest start time on each date.  (We do this by
                        // making a number which is DATE*10000 - TIME.)  In
                        // particular this works when a show is split into two
                        // files -- we start with the first.
                        //
                        // The live stream always comes before the other items.
                        sorted_rows = []
                        for(var i=0; i<visible_rows.length; i++) {
                            row = $(visible_rows[i])
                            sorted_rows.push([
                                (Number(row.find('input[name=date_compact]').val()) * 10000) - Number(row.find('input[name=start_compact]').val()),
                                row
                            ])
                        }
                        sorted_rows.sort()
                        sorted_rows.reverse()
                        row = sorted_rows[0][1]
                    }
                }
                if(row) {
                    RSAB.fn.play_row(row)
                }
            }
        }

        RSAB.fn.process_parameters = function () {
            var query_parameters = !window.location.search ? [] : (
                window.location.search.slice(0, 1) == '?'
                ? window.location.search.slice(1)
                : window.location.search
            ).split('&')
            for(i=0; i<query_parameters.length; i++) {
                parameter = query_parameters[i]
                if(parameter == '') {
                    continue
                }
                temp = parameter.splitmax('=', 1)
                key = temp[0]
                value = temp.length == 1 ? '' : temp[1]
                switch(key) {
                  case 'find':
                      if(value == 'live') {
                          matches = $('#rsab-playlist tr.rsab-playlist-item-live')
                      }
                      else {
                        matches = $('#rsab-playlist tr.rsab-playlist-item input[name=src][value^="/audio/' + value + '"]')
                        if(!matches.length) {
                            matches = $('#rsab-playlist tr.rsab-playlist-item input[name=src][value*="' + value + '"]')
                        }
                      }
                      if(matches.length) {
                          matches.first().closest('tr.rsab-playlist-item').addClass('rsab-playlist-item-playing')
                      }
                      break
                  case 'live':
                      if(rsab_is_parameter_true(value, true)) {
                          $('#rsab-playlist tr.rsab-playlist-item-live').addClass('rsab-playlist-item-playing')
                      }
                      break
                  case 'show':
                      rsab_select = $('#rsab-table-filter select[name=name]')
                      rsab_option = rsab_select.find('option[value="'+value+'"]')
                      if(rsab_option.length == 0) {
                          value = '!'
                      }
                      rsab_select.val(value).change()
                      break
                  case 'day':
                      rsab_select = $('#rsab-table-filter select[name=day]')
                      rsab_option = rsab_select.find('option[value="'+value+'"]')
                      if(rsab_option.length == 0) {
                          value = ''
                      }
                      rsab_select.val(value).change()
                      break
                  case 'sort':
                      if(value && value[0] == '-') {
                          value = value.slice(1)
                          ascending = 'desc'
                      }
                      else {
                          if(value && value[0] == '+') {
                              value = value.slice(1)
                          }
                          ascending = 'asc'
                      }
                      column_index = rsab_table_column_names.indexOf(value)
                      if(column_index != -1) {
                          rsab_table_initial_sort.push( [column_index, ascending] )
                      }
                      break
                  case 'autoplay':
                      RSAB.options.autoplay = rsab_is_parameter_true(value, true)
                      break
                  case 'np':
                      RSAB.options.show_now_playing = rsab_is_parameter_true(value, true)
                      break
                }
            }
            RSAB.fn.go_if_ready('params')
          }

          rsab_select = $('#rsab-table-filter select[name=name]')
          for(i = 0; i < rsab_select_pairs.length; i++) {
              $('<option value="' + rsab_select_pairs[i][1] + '"></option>')
                .text(rsab_select_pairs[i][0])
                .appendTo(rsab_select)
          }
          $('<option value="!">(no match)</option>').appendTo(rsab_select)
          rsab_select.change(function () {
              value = $(this).find('option:selected').val()
              if(value) {
                  value = ',' + value + ','
              }
              $('#rsab-playlist').dataTable().fnFilter(value, 1, false, false)
          })

          $('#rsab-table-filter select[name=day]').change(function () {
              $('#rsab-playlist').dataTable().fnFilter($(this).find('option:selected').val(), 0, false, false)
          })

          RSAB.fn.process_parameters()

          RSAB.DEFAULT_LIVESTREAM_LABEL = 'Live stream'
          RSAB.livestream_label = RSAB.DEFAULT_LIVESTREAM_LABEL
          RSAB.fn.nowplaying_callback = function(changed, history_data) {
              if(changed) {
                  if(history_data.is_playing && history_data.history.length) {
                      var current_item = history_data.history[history_data.history.length - 1]
                      new_label = RSAB.DEFAULT_LIVESTREAM_LABEL + ': ' + current_item.title
                      if(current_item.artist && current_item.title) {
                          new_label += ' by '
                      }
                      new_label += current_item.artist
                  }
                  else {
                      new_label = RSAB.DEFAULT_LIVESTREAM_LABEL
                  }
                  if(!$('#rsab-playlist tr.rsab-playlist-item-live').hasClass('rsab-playlist-item-unavailable')) {
                      RSAB.livestream_label = new_label
                      $('#rsab-playlist tr.rsab-playlist-item-live .rsab-playlist-item-title').text(new_label)
                      $("#jp_playlist_rsab").text(new_label)
                  }
              }
          }

          if(RSAB.options.show_now_playing && typeof(RSAB_NP) != 'undefined') {
              RSAB_NP.register_callback(RSAB.fn.nowplaying_callback)
          }

      });
    </script>

  </head>
  <body>

    <div id="rsab-main-container">

    <div id="rsab-logo">
      <img src="/images/newlogorsab.png" />
    </div>
    <div id="rsab-page-heading" class="ui-widget">
      <span class="title">RSAB Audio Player</span>
      <div id="jquery_jplayer_rsab" class="jp-jplayer"></div>
      <div class="jp-audio" id="rsab-jp-player-ui">
        <div class="jp-type-single">
          <div id="jp_interface_rsab" class="jp-interface">
            <ul class="jp-controls">
              <li><a href="#" class="jp-play" tabindex="1">play</a></li>
              <li><a href="#" class="jp-pause" tabindex="1">pause</a></li>
              <li><a href="#" class="jp-stop" tabindex="1">stop</a></li>
              <li><a href="#" class="jp-mute" tabindex="1">mute</a></li>
              <li><a href="#" class="jp-unmute" tabindex="1">unmute</a></li>
            </ul>
            <div class="jp-progress">
              <div class="jp-seek-bar">
                <div class="jp-play-bar"></div>
              </div>
            </div>
            <div class="jp-volume-bar">
              <div class="jp-volume-bar-value"></div>
            </div>
            <div class="jp-current-time"></div>
            <div class="jp-duration"></div>
          </div>
          <div id="jp_playlist_rsab" class="jp-playlist">
          (nothing loaded)
          </div>
        </div>
      </div>
    </div>

    <div class="ui-widget" id="rsab-about">
      <div style="padding: 0pt 0.7em;" class="ui-state-highlight ui-corner-all">
        <span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-info"></span>
        About...
      </div>
    </div>

    <div id="rsab-about-dialog" title="About...">
      This is the Radio St Austell Bay online player.  Listen live to what's on
      air right now, or choose any of the shows from the past week to hear again.
    </div>

    <div class="ui-widget" id="rsab-not-live-warning">
      <div style="padding: 0pt 0.7em;" class="ui-state-highlight ui-corner-all">
        <span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-info"></span>
        This is a recording.
      </div>
    </div>

    <div id="rsab-not-live-warning-dialog" title="Listen Again">
      The selected show is a recording.  References to current events (including
      news, weather, travel, competitions and What's On) may no longer be
      correct.  Please also remember to not phone in: the presenter is no longer
      on air!
    </div>

    <div class="ui-widget" id="rsab-problems">
      <div style="padding: 0pt 0.7em;" class="ui-state-highlight ui-corner-all">
        <span style="float: left; margin-right: 0.3em;" class="ui-icon ui-icon-help"></span>
        Having problems?
      </div>
    </div>

    <div id="rsab-problems-dialog" title="Having problems?">
      <p>The music player uses HTML5 or Flash, depending on the capabilities of
      your web browser.  If you don't have HTML5 (or aren't sure), please add
      <span class="rsab-player-domain-generic">this domain</span> to any
      Flash-blocker you have.</p>
      <p>You can listen to the live stream in your computer's own media player
      by pointing it at <a href="/listen.m3u">
      <span style="display: inline-block" class="ui-icon ui-icon-link"></span>
      this link</a>.</p>
      <p>These recordings have been prepared by a computer program.  If you hear
      something inappropriate, or you have any other comments on this service,
      please <a href="mailto:listenagain@rsab.org">
      <span style="display: inline-block" class="ui-icon ui-icon-mail-closed"></span>
      contact us</a>.</p>
    </div>

%(show_name_mapping)s
%(presenter_name_mapping)s
%(live_schedule)s

  <div class="ui-widget">
    <div id="rsab-table-filter">
      <div class="ui-widget-header">
        Filter shows
      </div>
      Day:
      <select name="day">
        <option value=""></option>
        <option value="mon">Monday</option>
        <option value="tue">Tuesday</option>
        <option value="wed">Wednesday</option>
        <option value="thu">Thursday</option>
        <option value="fri">Friday</option>
        <option value="sat">Saturday</option>
        <option value="sun">Sunday</option>
      </select>
      Show/Presenter:
      <select name="name">
        <option value=""></option>
      </select>
    </div>

    <table id="rsab-playlist" class="ui-widget-content">
      <thead>
        <tr class="rsab-playlist-heading">
          <th>Date/Time</th>
          <th>Show</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        <tr class="rsab-playlist-item rsab-playlist-item-live">
          <td class="rsab-playlist-item-when">
            <input type="hidden" name="src" value="" disabled="disabled" />
            <input type="hidden" name="date_compact" value="99991231" disabled="disabled" />
            <input type="hidden" name="start_compact" value="2359" disabled="disabled" />
            <span class="rsab-playlist-item-date">Now</span>
          </td>
          <td class="rsab-playlist-item-show">
            <input type="hidden" disabled="disabled" name="show" value="live" />
            <span class="rsab-playlist-item-title">Live stream</span>
          </td>
          <td class="rsab-playlist-item-duration">
          </td>
        </tr>

%(playlist_items)s
      </tbody>
    </table>
  </div>


  </div><!-- rsab-main-container -->
  </body>
</html>
