    <tr class="rsab-playlist-item">
      <td class="rsab-playlist-item-when">
        <input type="hidden" name="src" value="%(url)s" disabled="disabled" />
        <input type="hidden" name="date_compact" value="%(date_compact)s" disabled="disabled" />
        <input type="hidden" name="start_compact" value="%(start_compact)s" disabled="disabled" />
        <input type="hidden" name="end_compact" value="%(end_compact)s" disabled="disabled" />
        <span class="rsab-playlist-item-date">%(date)s</span> <span class="rsab-playlist-item-time">%(start_time)s</span>
      </td>
      <td class="rsab-playlist-item-show">
        <span class="rsab-playlist-item-title">%(title)s</span>
      </td>
      <td class="rsab-playlist-item-duration">
        %(duration)s
      </td>
    </tr>
