
body {
    margin-top: 0px;
    text-align: center; /* center things in pre-IE6 */
    background:url(/images/stripe_bg.png);
}

#rsab-main-container {
    margin: 35px auto;
    width: 760px;
    border: medium solid #000000;
    background:#CCCCCC;
}

#rsab-page-heading .title {
    font-size: xx-large;
}

#rsab-logo {
    float: right;
}

/* Correct alignment defined on body. */
.jp-interface {
    text-align: left;
}

div#rsab-table-filter {
    padding: 5px;
}

#rsab-playlist tr.rsab-playlist-item-unavailable {
    color: #aaaaaa;
    cursor: default;
}

#rsab-playlist tr.rsab-playlist-item-live {

}

#rsab-playlist tr.rsab-playlist-item-playing {
    background-color: #aaeeaa;
}

#rsab-playlist tbody tr.rsab-playlist-item:hover {
    cursor: pointer;
}

#rsab-playlist tbody tr.even:hover, #rsab-playlist tbody tr.even td.highlighted {
    background-color: #ECFFB3;
}

#rsab-playlist tbody tr.odd:hover, #rsab-playlist tbody tr.odd td.highlighted {
    background-color: #E6FF99;
}

#rsab-playlist tr.even:hover {
    background-color: #ECFFB3;
}

#rsab-playlist tr.even:hover td.sorting_1 {
    background-color: #DDFF75;
}

#rsab-playlist tr.even:hover td.sorting_2 {
    background-color: #E7FF9E;
}

#rsab-playlist tr.even:hover td.sorting_3 {
    background-color: #E2FF89;
}

#rsab-playlist tr.odd:hover {
    background-color: #E6FF99;
}

#rsab-playlist tr.odd:hover td.sorting_1 {
    background-color: #D6FF5C;
}

#rsab-playlist tr.odd:hover td.sorting_2 {
    background-color: #E0FF84;
}

#rsab-playlist tr.odd:hover td.sorting_3 {
    background-color: #DBFF70;
}

#rsab-not-live-warning,
#rsab-problems {
    display: inline-block;
    cursor: help;
}

#rsab-jp-player-ui {
    padding: 5px;
}

.rsab-player-domain {
    font-weight: bold;
}

